{% extends 'layout.html' %}
{% block content %}

{%from "_macros.html" import render_field%}

<div class="container">
    <div class="row">
        <form name="sent" id="form1" method="POST">
            <div class="row control-group">
                <div class="form-group col-xs-12 float-label-form-group controls">
                    {{render_field(form.id,class='form-control', readonly="readonly")}}
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 float-label-form-group controls">
                    {{render_field(form.name,class_='form-control')}}
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 float-label-form-group controls">
                    {{render_field(form.price ,class_='form-control')}}
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 float-label-form-group controls">
                    {{render_field(form.description ,class_='form-control')}}
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 float-label-form-group controls">
                    {{render_field(form.stock ,class_='form-control')}}
                </div>
            </div>
            <div class="form-group col-xs-12 float-label-form-group controls">
                {{render_field(form.image ,class_='form-control')}}
            </div>
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
            <input type="submit" class="btn btn-success" name="registra" value="Registrar" />
            <a href="{{ url_for('main.ProductosAll') }}" class="btn btn-secondary">Regresar</a>
        </form>
    </div>
</div>


{%endblock%}